*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: rgba(15, 15, 15);
    background-color: rgb(104, 91, 255);
}
nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(104, 91, 255);
    position: sticky;
    top: 0;
    z-index: 2;

}

nav p {
    font-size: 35px;
    margin-left: 5%;
    color: rgb(255, 255, 255);
}

nav p span {
    font-size: 40px;
    font-weight: 900;
    color: rgb(70, 219, 189);
}

nav>ul {
    margin-right: 5%;
    display: flex;
    height: 50px;
    align-items: center;
}

nav>ul>li {
    position: relative;
    height: 50px;
}

nav>ul>li>a {
    display: block;
    color: rgb(255, 255, 255);
    height: 50px;
    line-height: 60px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
    transition: color 0.5s;
}

nav ul .dropdown {
    position: absolute;
    top: 40px;
    width: 170px;
    left: 0;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms all;
}

nav ul .dropdown ::before {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    position: absolute;
    top: -6px;
    left: 30px;
}

nav ul .dropdown ul {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

nav ul .dropdown ul li a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    padding: 0 2%;
    color: rgb(104, 91, 255);
    transition: color 0.5s;
}

nav ul .dropdown ul li a:hover {
    color: rgb(70, 219, 189);
}

nav>ul>li:hover>a {
    color: rgb(70, 219, 189);
}

nav>ul>li:hover>a+.dropdown {
    opacity: 1;
    visibility: visible;
    top: 50px;
}

.res-dropdown{
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    
 }
nav button{
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
    background-color:rgb(15, 15, 15);
}
.res-dropdown ul{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200%;
    opacity: 0;
    display: none;
    transition: 1s all;
}
.res-dropdown ul li{
    text-align: center;
    border: 1px solid rgb(70, 219, 189);
    margin: 5% 3%;
    border-radius: 5px;
    background-color: rgb(70, 219, 189);
    width: 90%;
    height: 40%;
}
.res-dropdown ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 3%;
    font-size: 10px;
}.res-dropdown button:focus + ul{
    opacity: 1;
    display: block;
}
.sayfa{
    color: rgb(70, 219, 189) !important;
}
.container{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(104, 91, 255);
    
}
.giris{
    display: flex;
    flex-direction: column;
    margin: 12% auto;
}
form{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}
input{
    width: 25%;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(207, 202, 202);
    background-color: rgb(104, 91, 255);
    margin: 2% auto;
}
input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
button{
    width: 25%;
    height: 35px;
    border: 1px solid rgb(70, 219, 189);
    background-color: rgb(104, 91, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    margin: 2% auto;
}
p{
    color: rgb(255, 255, 255);
    font-size: 15;
    font-weight: 300;
    text-align: center;
}
@media screen and (max-width: 700px){   
    nav ul{
        display: none;
    }
    .res-dropdown{
        display: block;
    }
    .giris{
        margin: 25% auto;
    }
    input{
        width: 45%;
        height: 35px;
        border: none;
        border-bottom: 1px solid rgb(207, 202, 202);
        background-color: rgb(104, 91, 255);
        margin:4% auto;
    }
    button{
        width: 45%;
        height: 35px;
        border: 1px solid rgb(70, 219, 189);
        background-color: rgb(104, 91, 255);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 300;
        margin: 4% auto;
    }
}